#nav{
    position: fixed;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 10vh;
    background-color: #16A1A1;
    top: 0;
    z-index: 999;
    box-shadow: 5px 10px 8px 10px #888888
}

#nav h3 {
    margin-top: 1rem;
    color: #f6f6f6;
}

#main{
    display: flex;
    justify-content: center;
}

#regContainer{
    border: 2px black solid;
    box-shadow: 5px 10px 8px 10px #888888;
    padding: 1rem;
    position: absolute;
    top: 20vh;
    width: 64%;
    margin-bottom: 10%;
}

.labelDiv{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}